{% extends 'base.html' %}
{% load static %}
{% block pic %}
  <img src="/static/{{profiles.profile_pic}}" class="user-image" alt="User Image">
        <span class="hidden-xs">{{profiles.name}}</span>
{% endblock %}

{% block prof %}
  <img src="/static/{{profiles.profile_pic}}" class="img-circle" alt="User Image">
                    <p>
                      {{profiles.name}} -{{profiles.occupation}}
                     
                    </p>
{% endblock %}

{% block starts %}
  <img src="/static/{{profiles.profile_pic}}" class="img-circle" alt="User Image">
            
            </div>
            <div class="pull-left info">
              <p>{{profiles.name}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
{% endblock %}
{% block content %}

	<section class="content-header">
          <h1>
           <i class="fa fa-rss"></i> <span>Contact Us</span>
            
          </h1>
          
        </section>

<br>
<div class="row">
<div class="col-lg-12">
<form action="/contact/" method="GET">{% csrf_token %}
<div class="col-lg-12">
	

<div class="form-group">
                    <input class="form-control" placeholder="Name:" type="text" id="name" name="name" value="{{ request.GET.name }}" required>
                  </div></div>
                  <div class="col-lg-12">
                  <div class="form-group">
                    <input class="form-control" placeholder="Feedback:" type="textarea" id="y" style="height: 100px" name="feedback" value="{{ request.GET.feedback }}" required>
                  </div></div>
              <div class="col-lg-12">
                  <div class="pull-right">
                   
                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Contact</button>
                  </div></div>
             
</form>
</div>
</div>
{% endblock %}